* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; background: #000; color:#999; font-family: monospace; }
#prompt_form { background: #000; padding: 3px 3px 3px 0; width: 100%; }
#command_input { background: #000; color:#999; border-color: #000;
             border: 0; padding: 0 10px 0 0px; width: 100%; margin-left: 0%; margin-right: .5%;
             font-size:20px; font-family: monospace; }
textarea:focus, input:focus{
      outline: none;
  }
label { float: left; }
#input_span {
    display: block;
    overflow: hidden;
    padding-right:10px;
  }
#outer-container { width:100%; height:100%; position: relative; }
#inner-container { width: 90%; position: absolute; display: block}
#username { color:green; font-size:20px; padding: 0 10px 0 0;}
#location { color:blue; font-size:20px; padding: 0 10px 0 0;}
#username_stamp { color:green; font-size:20px; padding: 0 10px 0 0;}
#location_stamp { color:blue; font-size:20px; padding: 0 10px 0 0;}
.top_message { padding-left: 40%; font-family: monospace; font-size: 20px; }
.error { color:#DD0000;}
.child_folder { color:#317287;}
#message_header { white-space: nowrap; }
#message_content { word-wrap: break-word; }
#message_container { margin: 0; height:auto; padding: 0; width: 95%;
                     overflow-y: auto; overflow:hidden;
                     list-style-type: none;}
#message_container li { padding: 5px 0 10px 0; font-size: 20px; display: block; }
#message_container li:nth-child(odd) { background: #000; }
#message_container li:nth-child(even) { background: #000; }
